html, body {
	// width: 100%;
	min-height: 100vh;
	font-size: 16px;
	font-weight: 400;
	background: #ddd;
	box-sizing: border-box;
	color: #444;
	width: 100%;
	margin: 0;
	padding: 0;
}



#svelte {
	position: relative;
    // min-height: 100%;
		width: 100%;
    min-height: 100%;
    display: flex;
    gap: 2em;
    // min-height: 100%;
    // display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
	// background-color :rgb(255, 255, 255, 25%);
	// height: 100vh;
}
main, nav {
	position: absolute;
	top: 0;
	left: 0;
}
main {
	padding: 0 1em;
}
nav {
	z-index: 1;
}
// section, .content {
// 	width: 99%;
// 	// padding: 0 1em;
// }
p {
	text-align: justify;
}

h1 {
	text-align: center;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: #444;
}


ul {
	list-style: none;
}
img {
	// max-width: 350px;
	// max-height: 450px;
	// max-width: inherit;
	border-radius: 8px;
	// aspect-ratio: 35/45;

}


// html, body {
// 	min-height: 100%;
// 	margin: 0;
// 	background: $background-without-opacity;
// 	/* background: linear-gradient(
// 		180deg,
// 		var(--primary-color) 0%,
// 		var(--secondary-color) 10.45%,
// 		var(--tertiary-color) 41.35%
// 	); */
// 	// &::before {
// 	// 	content: '';
// 	// 	width: 80vw;
// 	// 	height: 100vh;
// 	// 	position: absolute;
// 	// 	top: 0;
// 	// 	left: 10vw;
// 	// 	z-index: -1;
// 	// 	// background: radial-gradient(
// 	// 	// 	50% 50% at 50% 50%,
// 	// 	// 	$pure-white 0%,
// 	// 	// 	rgba(255, 255, 255, 0) 100%
// 	// 	// );
// 	// 	opacity: 0.05;
// 	// }
// }


// /* body > div {
//   flex-direction: column;
// 	justify-content: space-between;
// 	justify-items: space-between;
// } */



// h1,
// h2,
// p {
// 	font-weight: 400;
// 	color: $heading-color;
// }

// h1 {
// 	font-size: 2rem;
// 	text-align: center;
// 	text-transform: uppercase;
// 	letter-spacing: 1pt;
// }

// h2 {
// 	font-size: 1.5rem;
// 	font-style: oblique;
// }

// p {
// 	text-align: justify;
// 	line-height: 1.5;
// }

// a {
// 	color: $accent-color;
// 	text-decoration: none;
// 	&:hover {
// 		text-decoration: underline;
// 	}	
// }

// pre {
// 	font-size: 16px;
// 	font-family: var(--font-mono);
// 	background-color: rgba(255, 255, 255, 0.45);
// 	border-radius: 3px;
// 	box-shadow: 2px 2px 6px rgb(255, 255, 255, 25%);
// 	padding: 0.5em;
// 	overflow-x: auto;
// 	color: var(--text-color);
// }

// input{
// 	font-size: inherit;
// 	font-family: inherit;
// }
// button {
// 	font-size: inherit;
// 	font-family: inherit;
// 	&:focus:not(:focus-visible) {
// 		outline: none;
// 	}
// }

// hr {
//   /* border: none; */
//   height: 2px;
//   border-radius: 50%;
//   color: #500;
//   background-color: #500;
// }

// img {
// 	&[alt] {
// 	color: goldenrod;
// 	letter-spacing: 1px;
// 	text-indent: 7px;
// 	text-transform: capitalize;
			
// 	}
// 	&[title] {
// 	/* width: 200px;
// 	height: 200px; */
// 	/* display: flex; */
// 	justify-self: center;
// 	align-self: center;
// 	}
// }


// .card {
// 	* {
//   padding-left: 1rem;
//   padding-right: 1rem;
// 	}
// }

@media (min-width: $xs) {
	body, #svelte {
		

	}
}