h1 {
  text-align: center;
  text-transform: uppercase;
}

p {
	text-align: justify;
}


@media (min-width: $sm) {
	
}

@media (min-width: $md) {
	
}

@media (min-width: $lg) {
	
}

@media (min-width: $xl) {
	
}

@media (min-width: $xxl) {
	
}

@media (min-width: $sm) {
	
}

@media (min-width: $md) {
	
}

@media (min-width: $lg) {
	
}

@media (min-width: $xl) {
	
}

@media (min-width: $xxl) {
	
}

